@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;

}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Sriracha&display=swap');

:root {

    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", cursive;
    --font3: "Passions Conflict", cursive;
}

p {
    padding: 1em;
    margin: 0em 1em;
}

section > p {

    font-size: 3vw;
    line-height: 2em;
}

 section {

    
    font-weight: bolder;
    line-height: 2em;
    font-family: var(--font3);
    
 }
 
a {
    text-decoration: none;
    color: rgb(10, 145, 199);
}

a:hover {
    text-decoration: underline;
}

header {
    
    background-color: black;
    color: white;
    font-family: var(--font2);
    font-size: 2vh;
    margin: 0;
    padding: 0;
}

header > h1, h2 {
    font-size: 4.5vw;
    text-align: center;
    line-height: 2em;
    
    
}





.cancao {
    display: inline-block;
    font-size: 2vw;
    margin: 0%;
    padding: 0%;
}

.cancao:hover {
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(27, 27, 27, 0.856);
}


.image {

    box-shadow: inset 3px 3px 10px black;
    background-attachment: fixed;
}


.image#img1 {
    background-color: gray;
    background-image: url(imagens/clock-1274699_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}

.image#img2 {
    
    background-color: rgb(59, 58, 58);
    background-image: url(imagens/man-2915187_1280.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#img1 > p {

    background-color: rgba(189, 189, 189, 0.247);
}
section.image > p {

    margin-top: 3em ;
    margin-bottom: 3em;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(36, 35, 35, 0.459);
}


footer {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
}


